services:
  db:
    image: postgres:15
    container_name: restaurant_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
    - db_data:/var/lib/postgresql/data
    - ./db/init/schema.sql:/docker-entrypoint-initdb.d/init.sql:ro

volumes:
  db_data:

